# 회귀 - 보스톤 집값 예측

In [2]:
import numpy as np 
import pandas as pd 
import tensorflow as tf
seed = 2021
np.random.seed(seed)
tf.random.set_seed(seed)

In [3]:
from sklearn.datasets import load_boston
boston = load_boston()

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    boston.data, boston.target, test_size=0.1, random_state=seed
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((455, 13), (51, 13), (455,), (51,))

### 모델 정의/설정/학습

In [6]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [7]:
model = Sequential([
    Dense(30, input_dim=13, activation='relu'),
    Dense(6, activation='relu'),
    Dense(1)
])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                420
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 186
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 613
Trainable params: 613
Non-trainable params: 0
_________________________________________________________________

In [8]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [9]:
history = model.fit(X_train, y_train, epochs=500, batch_size=40, verbose=0)

### 평가

In [11]:
pred = model.predict(X_test)
pred.shape

(51, 1)

In [12]:
y_test.shape

(51,)

In [13]:
pred = pred.flatten()
pred.shape

(51,)

- 예측값과 실제값의 비교

In [14]:
df = pd.DataFrame({
    '실제가격': y_test, '예측가격': pred
})
df.head(10)

   실제가격       예측가격
0  21.7  17.551899
1  15.6  16.504135
2  20.0  19.020449
3  12.8  13.017002
4  50.0  44.522831
5  20.6  15.777333
6  22.6  23.189161
7  24.1  25.792269
8  24.4  19.575884
9  36.1  33.336262